# --- SECURITE ---
# Ne jamais versionner les secrets
.env
.env.*

# --- DONNEES & TEMP ---
# Ignorer les fichiers de données brutes (LCN, CSV, etc.)
data/
*.csv
*.txt
*.dat

# --- DOCKER ---
# Ignorer les données persistantes des volumes locaux
oracle_data/
postgres_data/

# --- PYTHON ---
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
*.egg-info/
.pytest_cache/

# --- IDE & EDITEURS ---
# PyCharm
.idea/
# VS Code
.vscode/

# --- PENTAHO (PDI) ---
# Fichiers de log ou de lock temporaires de Spoon
*.log
*.lck

# --- OS ---
.DS_Store
Thumbs.db